#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.container {
  text-align: left;
}
.seat-group {
  padding: 15px;
}

.seat-row__title {
  font-weight: 600;
  margin-right: 1rem;
}
.seat-row__seat {
  display: inline-block;
  padding: 0.3rem 0.6rem;
  border: 1px solid #000;
  margin: 5px;
}
.seat-row__seat.empty {
  visibility: hidden;
}
.seat-row__seat.blocked {
  background-color: #cdc4c4;
  cursor: not-allowed;
  position: relative;
}
.seat-row__seat.blocked:after {
  content: "X";
  position: absolute;
  color: #a30101;
  top: -5px;
  left: 5px;
  font-size: 2rem;
  font-family: monospace;
}
.seat-row__seat.booked {
  background-color: #cdc4c4;
  opacity: 0.5;
  cursor: not-allowed;
}
